*{
margin: 0;
padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5rem;
    background: #f4f4f4;

}

#container{
    background: #333333;
    margin: 50px auto;
    overflow: auto;
    width: 90%;
    min-height: 400px;
}

header h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding: 40px 0 20px 50px;
    border-bottom: 1px solid #ffffff;
}

#shouts{
    width: 90%;
    background: #dcecdc;
    height: 300px;
    margin: 20px auto;
    overflow: auto;
}

.shout{
    list-style: none;
    padding: 10px;
    border-bottom: 1px #0716e1 dotted;

}

.shout span{
    color: #0716e1;

}


#input{
    width: 90%;
    min-height: 8px;
    margin: auto;
    padding: 0px;    
}

#input [type='text']{
    height: 25px;
    width: 49.8%;
    padding: 20px;
    margin-bottom: 10px;
    border: #666666 solid 1px;

}

#input .shout-btn{
    padding: 5px;
    width: 100%;
    margin: 10px auto 50px;
}

@media screen {
    #input [type='text'] {
        width: 49.5%;
    }
}

.error {
    background-color: rgb(215, 207, 207);
    font-weight: bolder;
    font-size: larger;
    color: red;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;

}